@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-weight: 400;
    font-size: 3em;
    margin-bottom: 50px;
}

.grid-container{

    display: grid;
    grid-template-areas: 'header header header header'
                         'main main main main';
    position: relative;
    
  
}

/*------------------------------HEADER--------------------------------*/

header {
    grid-area: header;
    position: absolute;
    width: 100vw;
    
}

.nav-bar{
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 15px 50px;
    z-index: 1;
    }
    
.nav-bar .logo img{
    width: 180px;
}

.nav-bar .menu_contact{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;

}

.nav-bar .menu_contact .contact {
    padding: 5px;
}


.btn {
    color: white;
    background: none;
    border: none;
    margin-left: 8px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all ease 0.3s;
    

}

.btn a {
    color: white;
    text-decoration: none;
    
   
}

.btn i{
    color: white;
   
    cursor: pointer;
    margin-right: 10px;
   }
   
   .btn:hover {
    background-color: #3d8cca;
   }


   .menu_contact .menu ul{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
   }

   .menu_contact .menu ul li {
    list-style: none;
   }

   .menu_contact .menu ul li a{
    height: 50px;
    text-decoration: none;
    color: white;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-size: 1.2em;
    transition: all ease 0.3s;
    
}

.menu_contact .menu ul li a img {
    width: 30px;
   opacity: 0;
   transition: all ease 0.3s;
}

.menu_contact .menu ul li a .active {
    width: 30px;
   opacity: 100;
   transition: all ease 0.3s;
}

.menu_contact .menu ul li a:hover img{
    opacity: 50%;
}

/* =========================== HEADER SCROLL ================*/
.abajo{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    z-index: 1;
    background-color: white;
    }

.abajo .logo {
    padding-top: 10px;
}

.abajo .logo img {
    width: 200px;
}

.abajo .menu_contact{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
}




.abajo .btn {
    color:#3d8cca;
    padding: 10px 10px;
}

.abajo .menu_contact .btn a {
    color: #3d8cca;
    text-decoration: none;
    
   
}

.abajo .menu_contact  .btn i{
    color: #3d8cca;
   
    cursor: pointer;
    margin-right: 10px;
   }
   
   .abajo .menu_contact .btn:hover a {
  
    color: white;
   }

   .abajo .menu_contact .btn:hover i {
    color: white;
   }
   .abajo .menu_contact .menu {
    margin-top: -15px;
    margin-right: 10px;
   }

   .abajo .menu_contact .menu ul{
    
    margin-top: 0px;
   }



   .abajo .menu_contact .menu ul li a{

    color:#3d8cca;
  
    
}

.abajo .menu_contact .menu ul li a:hover{

    color:#7c7c7c;

    
}

.menu_contact .menu ul li a img {
    width: 30px;
   opacity: 0;
   transition: all ease 0.3s;
}

.menu_contact .menu ul li a .active {
    width: 30px;
   opacity: 100;
   transition: all ease 0.3s;
}

.menu_contact .menu ul li a:hover img{
    opacity: 50%;
}


/* ======================== MAIN HEADER STAR ===========================*/

.main-banner{
    width: 99.2vw;
    height: 90vh;
    background-image: url(../img/bg-banner.jpg);
    background-position:bottom;
    background-size: cover;
   
    padding: 170px 30px 0 30px;
    display: flex;
    justify-content: center;
}


  @media (max-width: 2065px) {
    .main-banner{
        width: 99.1vw;
    }
  }

  @media (max-width: 1835px) {
    .main-banner{
        width: 99vw;
    }
  }
  @media (max-width: 1655px) {
    .main-banner{
        width: 98.9vw;
    }
  }

  @media (max-width: 1500px) {
    .main-banner{
        width: 98.8vw;
    }
  }

  
  @media (max-width: 1375px) {
    .main-banner{
        width: 98.7vw;
    }
  }

  @media (max-width: 1270px) {
    .main-banner{
        width: 98.6vw;
    }
  }
.max-w{
    max-width: 1300px;
}

.main-banner .flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.main-banner .column-1{
    width: 55%;
}



.main-banner .column-2{
    width: 40%;
    
    
}
/*======================== MAIN HEADER COLUMNA 1====================*/



.main-banner .column-1 .title {
    color: white;
    margin-bottom: 30px;
}

.main-banner .column-1 .info {
    color: white;
    line-height: 1.5em;
    margin-bottom: 50px;
}

.main-banner .column-1 .info a {
    color: white;
    text-decoration-color: #3d8cca;
   text-underline-offset: 4px;
}

.main-banner .column-1 .info a:hover {
    color: #3d8cca;
}


.main-banner .column-1 .btns-main-header{
    display: flex;
    width: 100%;
}

.main-banner .column-1 .btns-main-header .btns {
    margin-right: 30px;
    width: 280px;
    
}

.main-banner .column-1 .btns-main-header .btns h6 {
    text-align: center;
    color: white;
    font-size: 0.9em;
    font-weight: 500;
}

.main-banner .column-1 .btns-main-header .btns .btn {
    width: 280px;
    height: 50px;
    text-align: center;
    font-size: 1.1em;
    background-color: #3d8cca;
    margin-top: 10px;
}

.main-banner .column-1 .btns-main-header .btns .btn:hover {
    background-color: #29608b;
}

.main-banner .column-1 .btns-main-header .bg .btn {
    background-color: #fff;
    border: 2px solid #3d8cca ;
    
}

.main-banner .column-1 .btns-main-header .bg .btn a {
    color: #3d8cca;
}

.main-banner .column-1 .btns-main-header .bg .btn:hover {
    background-color: #3d8cca;
    
}

.main-banner .column-1 .btns-main-header .bg .btn:hover a{
    color: white;
}
/*======================== MAIN HEADER COLUMNA 2====================*/
.main-banner .column-2 .video1 {
    width: 95%;
    position: relative;
    cursor: pointer;
    transition:all ease 0.3;
    
}

.main-banner .column-2 .video1:hover .video1-play .btn-play-style {
            background-color: rgb(255, 0, 0);
}

.main-banner .column-2 .video1:hover .absolute{
    background-color: rgba(0, 0, 0, 0.6);
}

.main-banner .column-2 .video1:hover .video1-play .title-video .text{
    width: 100%;
    display: none;
}

.main-banner .column-2 .video1:hover .video1-play .title-video .text-hover{
    width: 100%;
    display: block;
}

.main-banner .column-2 .video1:hover .video1-play .title-video .logos img {
    display: none;
}


.main-banner .column-2 .padd-down{
    margin-bottom: 50px;
}

.main-banner .column-2 .video1 .cover-video{
    width: 100%;
    
}


.main-banner .column-2 .video1 .cover-video img{
    width: 100%;
    
}

.main-banner .column-2 .video1 .video1-play{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}

.main-banner .column-2 .video1 .video1-play .absolute {
    width: 100%;
    height: 100%;
    display: relative;
    display: flex;
    align-items: end;
    transition: all ease 0.3s;
}

.main-banner .column-2 .video1 .video1-play .btn-play-postion{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-banner .column-2 .video1 .video1-play .btn-play-style {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
   
}

.main-banner .column-2 .video1 .video1-play .btn-play-style img {
    width: 60px;  
}


.main-banner .column-2 .video1 .video1-play .title-video {
    width: 100%;
    height: 50px;
    background-color:rgb(163, 161, 161);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
}

.main-banner .column-2 .video1 .video1-play .white {
   
    background-color: white;
}

.main-banner .column-2 .video1 .video1-play .title-video .text{
    
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
   
    padding: 0 10px 0 20px;
}

.main-banner .column-2 .video1 .video1-play .title-video .text-hover{
    width: 100%;
   display: none;
}

.main-banner .column-2 .video1 .video1-play .title-video .logos {
   
    display: flex;
    justify-content: end;
    padding: 0 20px 0 10px;
}

.main-banner .column-2 .video1 .video1-play .title-video .logos .img1 {
    width: 30px;
    height: 30px;
}

.main-banner .column-2 .video1 .video1-play .title-video .logos .img2 {
    height: 30px;
}


.main-banner .column-2 .video1 .video1-play .title-video .color {
    color: #3d8cca;
}


/*======================== MAIN ====================*/
main {
    grid-area: main;
}
/*======================== RECENT WORK SECTION====================*/

.recent-work{
    width: 100%;
    margin: 80px 0 0 0 ;
    display: flex;
    justify-content: center;

}

.recent-work .max-w {
    max-width: 1145px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.recent-work .items {
    width: 100%;
  
    margin-top: 15px;
    display: grid;
    grid-template-columns: 31.5% 31.5% 31.5%;
    justify-content: space-between;
}



.recent-work .items .item{
    width: 100%;
    height: auto;
    margin-bottom: 110%;
    
}
.recent-work .items .item a {
    width: 100%;
    height: 100%;
}

.recent-work .items .item .content {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 1s;
    transform-style: preserve-3d;
}

.recent-work .items .item .content .face{
    position: absolute;
    width: 100%;
    
    backface-visibility: hidden;
    overflow: hidden;
    transition: all ease .5s ;
    
}


.recent-work .items .item .content .front{
    transform: perspective(600px) rotateY(0deg);

}

.recent-work .items .item .content .back{
    transform: perspective(600px) rotateY(180deg);
    
}

.recent-work .items .item .content:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.recent-work .items .item .content:hover .back{
    transform: perspective(600px) rotateY(360deg);
}


.recent-work .items .item a .content .face img {
    width: 100%;
}